<!DOCTYPE HTML>{% capture showerify_input %}{{ content }}{% endcapture %}{% include showerify.html %}{% include setup.md %}
<html lang="en">
<head>
	<title>{{ title | strip_html }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=792, user-scalable=no">
	<link rel="stylesheet" href="bower_components/{{ theme }}/styles/screen.css">
  <link rel="stylesheet" href="bower_components/{{ theme }}/styles/print.css" media="print">
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300|Raleway:600" rel="stylesheet" type="text/css">
	{% if page.style %}<style>
{{ page.style }}</style>{%endif%}
</head>
<body class="{{ body_class }}">
	<header class="caption">
		<h1>{{ title }}</h1>
		{% if subtitle %}{{ subtitle }}{% endif %}
	</header>

	{{ showerify_output }}

	{% if fork_url %}<p class="badge"><a href="{{ fork_url }}">Fork me on Github</a></p>{% endif %}
	{% if progress %}<div class="progress"><div></div></div>{% endif %}
	<script src="bower_components/shower-core/shower.min.js"></script>
	<!-- Copyright © 2010–2013 Vadim Makeev — pepelsbey.net -->
	<!-- Photos by John Carey — fiftyfootshadows.net -->
</body>
</html>
